 #upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
.text{

    margin:0;
    padding: 0;
}
.backgroundevent{

   background-image: url(./event images/background.jpg);
    background-position:center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}
.regform{

    width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    color: #ffffff;
    padding:10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgba(0, 0, 0, 0.5);
    width:800px;
    margin: auto;

}
#form{
    
    padding: 10px;

}

#event_id{
        width: 100%;
        height: 100px;
        font-size: 18px;

}

.eve1{
    margin-left: 25px;
   
  width:125px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
}

.event_id{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;


}
.name{
  margin-left: 25px;
  margin-top: 30px;
  width:125px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;


   
}

.startdate{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;

}

.starttime{

    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.enddate{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;

}

.endtime{
    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;

}


.firstlaybel{

    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left:203px;
    top: -36px;

}
.evename{

    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.secondlaybel{

   
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left:203px;
    top: -36px;
}



.seconddlaybel{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left:203px;
    top: -45px;
}
.thirdlaybel{
    position:relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left:175px;
    top: -45px;
}
.fourthlaybel{

    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left:203px;
    top: -45px;

}

.fifthlaybel{

    position:relative;
    padding: 312px;
    padding-top: 50px;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left:175px;
    top: -45px;

}

.eventq{
    margin-left: 25px;
    margin-top: 10px;
    width:250px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    
}

.form-check{
    margin-left: 25px;
    margin-top: 10px;
}
.form-check2{
    margin-left: 25px;
    margin-top: 10px;
}

.venue{

   
        position: relative;
        left: 200px;
        top: -37px;
        line-height: 40px;
        width: px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        color: #555;
}
.venue1{
    margin-left: 25px;
    margin-top: 10px;
    width:250px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;

}
.intro{

    font-weight: 700;
    font-size: 16px;

}
.submitbutton{

   
        background: #048f26;
        color: white;
        border-style: outset;
        border-color: #088318;
        height: 50px;
        width: 100px;
        font: bold15px arial,sans-serif;
        text-shadow: none;
        border-radius: 10px;
        margin-left: 350px;
}
.category1{

    margin-left: 25px;
    margin-top: 10px;
    width:250px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
}
.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;  
} 