
.card-text {
    font-size: 20px;
    font-weight: 500;
    color: #329466;
    float: left;
}

.card-left {
    margin: 5px;
    margin-bottom: 6px;
    color: #a3a2a2;
}

.card-title {
    margin-top: -20px;
    
}

.card-type {

    font-size: 20px;
    font-weight: 500;

}

.card-area {
    margin-top: -15px;
    color: #a3a2a2;
}

.card-link{

    margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Style the upper image  */

  .upper-images {
    position: relative;
    width: 100%;
  }
  
  .ecommerce-slide {
    opacity: 1;
    display: block;
    width: 85rem;
    align-items: center;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .upper-images:hover .ecommerce-slide {
    opacity: 0.3;
  }
  
  .upper-images:hover .middle {
    opacity: 1;
  }
  
  .text {
    
    color: black;
    font-weight: 600;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    padding: 16px 32px;
    margin-left: -700px;
    margin-top: -100px;
  }
  .para{
      font-weight: 500;
      color: #329466;
      font-size: 20px;
      text-shadow: 2px 2px #b9b0b0;
      text-align: left;
      margin-left: -50px;
  }
  .buttonserv {
    border-radius: 30px;
    background-color: #12af39;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: -630px;
    text-align: center;
  }
  
  .buttonserv span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonserv span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonserv:hover span {
    padding-right: 25px;
  }
  
  .buttonserv:hover span:after {
    opacity: 1;
    right: 0;
  }
